:root {
  --font-color: #eee;
  --border-color: #222;
  --light-background: rgba(0, 0, 0, 0.6);
  --dark-background: rgba(0, 0, 0, 0.9);
  --menu-item-h: rgba(0, 0, 0, 0.6);
  --menu-item-hover: rgba(99, 99, 99, 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: var(--font-color);
  font-family: "Montserrat", cursive;
  font-size: 1.6rem;
  overflow: overlay; /* enables transparent crossbar */
}

header {
  font-size: 2.4rem;
}

h1 {
  line-height: 1.2;
}

img {
  width: 100%;
}

button {
  font-family: inherit;
  color: inherit;
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--dark-background);
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.header h1 {
  font-family: "Tangerine", cursive;
  font-size: 12rem;
}

/* Nav */

.nav {
  display: flex;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 2rem;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.button:hover {
  transform: translateY(-10%);
}

.button.active {
  border-bottom: 2px solid var(--font-color);
}

.button:active {
  border: none;
}

/* Main */

.main {
  max-width: 800px;
  padding: 4rem;
  border: 1px solid var(--border-color);
  margin: 6rem 0;
  background: var(--light-background);
  font-size: 2rem;
}

/* Home page */

.home {
  text-align: center;
}

.home p {
  padding: 1rem;
}

.home img {
  width: 50%;
  margin: 3rem auto;
  opacity: 90%;
}

/* Menu page */

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

.menu-item {
  text-align: center;
  padding: 4rem;
  background-color: var(--menu-item);
  cursor: pointer;
}

.menu-item:hover {
  background-color: var(--menu-item-hover);
}

.menu-item img {
  width: 60%;
}

.menu-item h2 {
  font-size: 3rem;
}

.menu-item p {
  font-size: 1.5rem;
}

/* Contact page */

.contact {
  text-align: center;
}

.contact p {
  padding: 2rem;
  text-align: justify;
}

.contact img {
  padding: 2rem;
  width: 90%;
}

/* Footer */

.footer {
  width: 100%;
  padding: 1rem;
  background: var(--light-background);
  border-top: 1px solid var(--border-color);
  text-align: center;
}

@media (max-width: 650px) {
  .menu {
    grid-template-columns: 1fr;
  }

  .menu img {
    width: 50%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
